:root {
  --main-color: #eaeaea;
  --secondary-color: #fff;

  --border: #c1c1c1;

  --main-text: black;
  --secondary-text: #4b5156;
  --themedotborder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
  --preview-shadow: #f0ead6;
  --sumbit-btn: #000000;
}
html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--main-text);
  font-family: "Pattaya", sans-serif;
  font-weight: 500;
}
p,
li,
span,
label,
input,
textarea {
  color: var(--secondary-text);
  font-family: "Roboto Mono", monospace;
}
a {
  text-decoration: none;
  color: #17a2b8;
}
ul {
  list-style: none;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background: var(--main-color);
  border-bottom: 1px solid var(--border);
  overflow: auto;
}
.s2 {
  background: var(--secondary-color);
  border-bottom: 1px solid var(--border);
  overflow: auto;
}
.greeting-wrapper {
  display: grid;

  align-content: center;
  min-height: 20em;
  text-align: center;
}
.intro-wrapper {
  background-color: var(--secondary-color);
  border: 1px solid var(--border);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-columm right-columm";
  border-radius: 5px 5px 0 0;
}
.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}
#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--preview-shadow);
}
#social-img {
  width: 100%;
}
.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}
.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}
.post {
  border: 1px solid var(--border);
}
.thumbnail {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
}
.post-title {
  color: black;
  margin: 0;
}
.post-intro {
  color: #4b5156;
  font-size: 16px;
}
.post-preview {
  background-color: #fff;
  padding: 15px;
}
#navigation {
  margin: 0;
  padding: 10px;
}
#navigation li {
  display: inline-block;
  margin: 5px;
  margin-left: 5px;
}
.dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
}
.dots-wrapper {
  display: flex;
  padding: 10px;
}
#dot1 {
  background-color: #fc6058;
}
#dot2 {
  background-color: #fec02f;
}
#dot3 {
  background-color: #2aca3e;
}
.left-columm {
  grid-area: left-columm;
  padding-top: 50px;
  padding-right: 50px;
}
.right-columm {
  grid-area: right-columm;
  display: grid;
  align-content: center;
}
#profile-pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--border);
}
#theme-dots {
  display: flex;
  justify-content: center;
  justify-content: center;
}
.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themedotborder);
}
.theme-dot:hover {
  border-width: 5px;
}
#light-mode {
  background: #fff;
}
#blue-mode {
  background: #192734;
}
#green-mode {
  background: #e200e2;
}
#purple-mode {
  background: #7e4c74;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

#preview-shadow {
  background-color: var(--preview-shadow);
  border-radius: 50% 20% / 10% 40%;
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  background-color: var(--previewBg);
  border-radius: 50% 20% / 10% 40%;
  padding: 15px 25px;
  position: relative;
}
/* 
.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
} */
/* 
#cornertl {
  top: -5px;
  left: -5px;
}

#cornertr {
  top: -5px;
  right: -5px;
}

#bottombr {
  bottom: -5px;
  right: -5px;
} */

/* #bottombl {
  bottom: -5px;
  left: -5px;
} */

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--border);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--main-color);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--border);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--sumbit-btn);
  border: none;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
